<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="/var/log/pxplus-member-worker/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		<!-- write logs to file  -->
		<target xsi:type="File" name="info" fileName="logs/${shortdate}/${date:format=HH}.info.log" layout="${longdate}|${whenEmpty:whenEmpty=${mdlc:requestid}:inner=${aspnet-TraceIdentifier:ignoreActivityId=true}}|${uppercase:${level}}|${logger}|${aspnet-request-url}|${message} ${exception:format=tostring}" keepFileOpen="true" />

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target xsi:type="File" name="error" fileName="logs/${shortdate}/${date:format=HH}.error.log" layout="${longdate}|${whenEmpty:whenEmpty=${mdlc:requestid}:inner=${aspnet-TraceIdentifier:ignoreActivityId=true}}|${uppercase:${level}}|${logger}|${aspnet-request-url}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="info" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!-- <logger name="Microsoft.*" maxlevel="Info" final="true" /> -->
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>